body {
    background-image: url(../imagenes/fondo.jpg);
}
#home2 {

    width: 6%;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    
}
.contenedor{
    width: 40%;
    padding: 40px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    
}
.consulta1{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    
    float:right;
   
}
.consulta2{
    width: 70%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    
   
}


#imagen1{
    width: 40%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    
    align-items: right;
    float: right;
    margin-bottom: -30px;
}
#imagen2{
    width: 35%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    
    align-items: center;
  
}
#globo{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    
    align-items: center;
}
#buscar{
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    
    align-items: center;
}

#form1{
    width: 10%;
    margin:0 auto;
    
}
#form2{
    width: 90%;
    margin:0 auto;
    
}
p{
    text-align: center;
    font-size: 15px;
}
p input{
    text-align: center;
    font-size: 15px;
}



@media screen and (max-width: 1000px){
    .contenedor{
        width: 95%;
        padding: 20px;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        
    }
    #imagen2{
        width: 50%;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        
        align-items: center;
      
    }
    #imagen1{
        width: 50%;

        margin-bottom: -15px;
    }
    #home2 {

        width: 20%;
        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 0px;
        
    }
    p input{
        font-size: 23px;

    }
    p {
        font-size: 20px;

    }

}