body{
    margin: 0;
    font-family: sans-serif;
    background-color: aqua;

}

a{
   text-decoration: none;
   color:rgb(17, 209, 49)
}
.contenedor{
    width: 95%;
    margin:0 auto;
  
    


}
#p1{
    font-size: 30px;
    color: rgb(224, 157, 11);
}
.titulo0{
    width: 100%;
    height: 100px;
    margin-top: 7%;
}
.titulo1{
    width: 33.33%;
    margin:0 auto;
    background-color: rgb(37, 206, 80);
    float: left;
    height: 220px;
}
.titulo1 p{
    font-size: 50px;
    color: white;
    text-align: center;

}
.titulo2{
    width: 16.66%;
    margin:0 auto;
    background-color: rgb(48, 79, 116);
    float: left;

} 
p{
    text-align: center;
}
body{
    background-color: cadetblue;
}
img{
    width: 70%;
    margin-top: -5%;
    height: auto;
   
}
#volver{
    width: 10%;

    float: left;
}
.placa{
    width: 18%;
    height: auto;
    margin-top: -5%;
}
